.image-112-1 {
  position: absolute;
  height: 95.79%;
  width: 100%;
  top: 4.21%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame23 {
  position: absolute;
  top: 5.21rem;
  left: 6.94rem;
  width: 17.31rem;
  height: 21.08rem;
  overflow: hidden;
}
.bigcardinner-child {
  position: relative;
  width: 31.28rem;
  height: 31.55rem;
  z-index: 0;
}
.frame-child44 {
  position: absolute;
  height: 55.48%;
  width: 89.89%;
  top: 49.76%;
  right: 5.35%;
  bottom: -5.24%;
  left: 4.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child45 {
  position: absolute;
  height: 52.38%;
  width: 6.77%;
  top: 17.71%;
  right: 88.44%;
  bottom: 29.92%;
  left: 4.79%;
  border-radius: 0.69px;
  background: linear-gradient(224.85deg, #ce13ff, #7000ff);
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.frame-child46 {
  position: absolute;
  height: 58.02%;
  width: 7.5%;
  top: 0%;
  right: 42.59%;
  bottom: 41.98%;
  left: 49.91%;
  background: linear-gradient(224.85deg, #ce13ff, #7000ff);
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.frame-child47 {
  position: absolute;
  height: 52.38%;
  width: 6.77%;
  top: 17.71%;
  right: -1.98%;
  bottom: 29.91%;
  left: 95.21%;
  border-radius: 0.69px;
  background: linear-gradient(224.85deg, #ce13ff, #7000ff);
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.vector-parent3 {
  position: relative;
  width: 8.19rem;
  height: 1.06rem;
  z-index: 1;
}
.frame-child48 {
  position: absolute;
  height: 46.15%;
  width: 89.89%;
  top: 53.85%;
  right: 5.35%;
  bottom: 0%;
  left: 4.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child49 {
  position: absolute;
  height: 60.27%;
  width: 6.07%;
  top: 17.71%;
  right: 89.14%;
  bottom: 22.03%;
  left: 4.79%;
  border-radius: 1px;
  background: linear-gradient(224.85deg, #ce13ff, #7000ff);
  transform: rotate(37.92deg);
  transform-origin: 0 0;
}
.frame-child50 {
  position: absolute;
  height: 66.76%;
  width: 6.73%;
  top: 0%;
  right: 43.55%;
  bottom: 33.24%;
  left: 49.72%;
  border-radius: 1px;
  background: linear-gradient(224.85deg, #ce13ff, #7000ff);
  transform: rotate(37.92deg);
  transform-origin: 0 0;
}
.frame-child51 {
  position: absolute;
  height: 60.27%;
  width: 6.07%;
  top: 17.71%;
  right: -1.28%;
  bottom: 22.02%;
  left: 95.21%;
  border-radius: 1px;
  background: linear-gradient(224.85deg, #ce13ff, #7000ff);
  transform: rotate(37.92deg);
  transform-origin: 0 0;
}
.vector-parent4 {
  position: relative;
  width: 15.17rem;
  height: 1.53rem;
  z-index: 2;
}
.bigcardinner-item {
  position: absolute;
  margin: 0 !important;
  height: 2.6%;
  width: 2.52%;
  top: 67.28%;
  right: 5.11%;
  bottom: 30.12%;
  left: 92.37%;
  border-radius: 1px;
  background: linear-gradient(224.85deg, #ce13ff, #7000ff);
  transform: rotate(43.71deg);
  transform-origin: 0 0;
  z-index: 3;
}
.bigcardinner-inner {
  position: absolute;
  margin: 0 !important;
  height: 2.6%;
  width: 2.52%;
  top: 67.28%;
  right: 89.42%;
  bottom: 30.12%;
  left: 8.06%;
  border-radius: 1px;
  background: linear-gradient(224.85deg, #ce13ff, #7000ff);
  transform: rotate(43.71deg);
  transform-origin: 0 0;
  z-index: 4;
}
.bigcardinner-child1 {
  position: absolute;
  margin: 0 !important;
  height: 2.6%;
  width: 2.52%;
  top: 24.01%;
  right: 5.11%;
  bottom: 73.38%;
  left: 92.37%;
  border-radius: 1px;
  background: linear-gradient(224.85deg, #ce13ff, #7000ff);
  transform: rotate(43.71deg);
  transform-origin: 0 0;
  z-index: 5;
}
.bigcardinner-child2 {
  position: absolute;
  margin: 0 !important;
  height: 2.6%;
  width: 2.52%;
  top: 24.01%;
  right: 89.42%;
  bottom: 73.38%;
  left: 8.06%;
  border-radius: 1px;
  background: linear-gradient(224.85deg, #ce13ff, #7000ff);
  transform: rotate(43.71deg);
  transform-origin: 0 0;
  z-index: 6;
}
.bigcardinner {
  position: absolute;
  top: calc(50% - 252.4px);
  left: calc(50% - 260px);
  width: 32.5rem;
  height: 31.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.63rem;
}
.frame25 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 32.5rem;
  height: 31.55rem;
  overflow: hidden;
}
.frame-icon1 {
  position: absolute;
  top: 4.49rem;
  left: 4.5rem;
  width: 22.17rem;
  height: 22.57rem;
  overflow: hidden;
}
.frame24 {
  position: absolute;
  top: -0.03rem;
  left: 0rem;
  width: 32.5rem;
  height: 31.55rem;
  overflow: hidden;
}
.bigcard {
  position: absolute;
  margin: 0 !important;
  top: 84.03rem;
  left: 9.13rem;
  width: 31.06rem;
  height: 31.49rem;
  z-index: 30;
}
