.questions {
  background: linear-gradient(233.45deg, #ce13ff, #7000ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.frequently-asked-questions-container {
  position: absolute;
  height: 60.82%;
  width: 55.84%;
  top: 0%;
  left: 22.17%;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
}
.frame-child3 {
  position: absolute;
  height: 61.05%;
  width: 99.72%;
  top: 38.95%;
  right: 0%;
  bottom: 0%;
  left: 0.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child4 {
  position: absolute;
  height: 63.65%;
  width: 1.18%;
  top: 0%;
  right: 97.98%;
  bottom: 36.35%;
  left: 0.84%;
  border-radius: 1px;
  background: linear-gradient(224.85deg, #ce13ff, #7000ff);
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.frame {
  position: absolute;
  top: 0.27rem;
  left: 0rem;
  width: 67.59rem;
  height: 1.26rem;
  overflow: hidden;
}
.frame-child5 {
  position: absolute;
  height: 57.07%;
  width: 2.37%;
  top: 19.29%;
  right: -0.69%;
  bottom: 23.64%;
  left: 98.32%;
  border-radius: 1px;
  background: linear-gradient(224.85deg, #ce13ff, #7000ff);
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.frame-child6 {
  position: absolute;
  height: 63.21%;
  width: 2.63%;
  top: 0%;
  right: 95.52%;
  bottom: 36.79%;
  left: 1.86%;
  border-radius: 1px;
  background: linear-gradient(224.85deg, #ce13ff, #7000ff);
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.frame1 {
  position: absolute;
  top: 0rem;
  left: 34.19rem;
  width: 33.76rem;
  height: 1.4rem;
  overflow: hidden;
}
.frame-parent {
  position: absolute;
  top: 5.56rem;
  left: calc(50% - 544px);
  width: 67.94rem;
  height: 1.53rem;
}
.frequently-asked-questions-parent {
  position: relative;
  width: 78.5rem;
  height: 7.06rem;
}
.how-does-laqira {
  position: absolute;
  top: 26.14%;
  left: 3.17%;
  line-height: 150%;
}
.frame-icon {
  position: absolute;
  height: 46.54%;
  width: 2.88%;
  top: 26.73%;
  right: 1.65%;
  bottom: 26.73%;
  left: 95.47%;
  border-radius: 7.13px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.how-does-laqira-protocol-compa-parent {
  position: absolute;
  height: 19.91%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 80.09%;
  left: 0%;
  border-radius: 10px;
  background-color: rgba(196, 22, 252, 0.1);
  border: 1.8px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}
.what-rewards-and {
  position: absolute;
  top: 26.14%;
  left: 3.45%;
  line-height: 150%;
}
.frame-child7 {
  position: absolute;
  height: 46.54%;
  width: 2.88%;
  top: 26.64%;
  right: 1.65%;
  bottom: 26.81%;
  left: 95.47%;
  border-radius: 7.13px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.what-rewards-and-incentives-do-parent {
  position: absolute;
  height: 19.91%;
  width: 100%;
  top: 26.7%;
  right: 0%;
  bottom: 53.39%;
  left: 0%;
  border-radius: 10px;
  background-color: rgba(196, 22, 252, 0.1);
  border: 1.8px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}
.frame-child8 {
  position: absolute;
  height: 46.54%;
  width: 2.88%;
  top: 26.56%;
  right: 1.65%;
  bottom: 26.9%;
  left: 95.47%;
  border-radius: 7.13px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.how-does-laqira-protocol-ensur-parent {
  position: absolute;
  height: 19.91%;
  width: 100%;
  top: 53.39%;
  right: 0%;
  bottom: 26.7%;
  left: 0%;
  border-radius: 10px;
  background-color: rgba(196, 22, 252, 0.1);
  border: 1.8px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}
.how-to-join {
  position: absolute;
  top: 26.14%;
  left: 2.74%;
  line-height: 150%;
}
.frame-child9 {
  position: absolute;
  height: 46.54%;
  width: 2.88%;
  top: 26.47%;
  right: 1.65%;
  bottom: 26.98%;
  left: 95.47%;
  border-radius: 7.13px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.how-to-join-the-laqira-protoco-parent {
  position: absolute;
  height: 19.91%;
  width: 100%;
  top: 80.09%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 10px;
  background-color: rgba(196, 22, 252, 0.1);
  border: 1.8px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}
.frame-container {
  position: absolute;
  top: 15.48rem;
  left: 0rem;
  width: 79.13rem;
  height: 24.61rem;
}
.youll-have-access {
  position: absolute;
  width: 88.63%;
  top: 0%;
  left: 0%;
  line-height: 150%;
  display: inline-block;
}
.frame2 {
  position: absolute;
  top: 6.63rem;
  left: 1.28rem;
  width: 77.84rem;
  height: 5.06rem;
  overflow: hidden;
}
.why-use-laqira {
  position: absolute;
  top: 26.97%;
  left: 2.32%;
  line-height: 150%;
}
.frame-child10 {
  position: absolute;
  height: 46.02%;
  width: 2.88%;
  top: 26.97%;
  right: 1.65%;
  bottom: 27.01%;
  left: 95.47%;
  border-radius: 7.13px;
  background: linear-gradient(224.85deg, #ce13ff, #7000ff);
}
.frame-child11 {
  position: absolute;
  height: 2.81%;
  width: 1.7%;
  top: 49.31%;
  right: 2.25%;
  bottom: 47.88%;
  left: 96.05%;
  border-top: 2.2px solid #fff;
  box-sizing: border-box;
}
.frame3 {
  position: absolute;
  height: 35.89%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 64.11%;
  left: 0%;
  border-radius: 10px;
  background-color: rgba(196, 22, 252, 0.1);
  border: 1.8px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1.5rem;
  color: #fff;
}
.frame-div {
  position: absolute;
  height: 34.44%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 65.56%;
  left: 0%;
  border-radius: 10px;
  background-color: rgba(196, 22, 252, 0.05);
  border: 1.8px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  font-size: 1.13rem;
  color: #9293a0;
}
.frame-group {
  position: relative;
  width: 79.13rem;
  height: 40.09rem;
  text-align: left;
  font-size: 1.5rem;
  font-family: "Open Sans";
}
.faq {
  margin: 0 !important;
  position: absolute;
  top: 222.31rem;
  left: 8.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5rem;
  z-index: 20;
  text-align: center;
  font-size: 2.88rem;
  color: #fff;
  font-family: "Chakra Petch";
}
