.frame-child31 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.resources {
  position: absolute;
  top: 0%;
  left: 0%;
  line-height: 150%;
}
.github {
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: 1.13rem;
  line-height: 150%;
}
.marketplace-security-audit {
  position: absolute;
  top: 38.95%;
  left: 0%;
  line-height: 150%;
}
.token-security-audit {
  position: absolute;
  top: 74.74%;
  left: 0%;
  line-height: 150%;
}
.github-parent {
  position: absolute;
  top: 3.31rem;
  left: 0rem;
  width: 17.38rem;
  height: 5.94rem;
  font-size: 1rem;
  color: #c0c0c0;
}
.resources-parent {
  position: absolute;
  top: 0rem;
  left: 33.63rem;
  width: 17.38rem;
  height: 9.25rem;
}
.linkedin {
  position: absolute;
  top: 36.96%;
  left: 0%;
  line-height: 150%;
}
.telegram {
  position: absolute;
  top: 73.91%;
  left: 0%;
  line-height: 150%;
}
.twitter-parent {
  position: absolute;
  top: 3.31rem;
  left: 0rem;
  width: 4.19rem;
  height: 5.75rem;
  font-size: 1rem;
  color: #c0c0c0;
}
.social-media-parent {
  position: absolute;
  top: 0rem;
  left: 16.75rem;
  width: 8.25rem;
  height: 9.06rem;
}
.collection1 {
  position: absolute;
  top: 0%;
  left: 0%;
  line-height: 150%;
  font-family: "Chakra Petch";
}
.collection-parent {
  position: absolute;
  top: 3.31rem;
  left: 0rem;
  width: 4.56rem;
  height: 5.75rem;
  font-size: 1rem;
  color: #c0c0c0;
  font-family: "Open Sans";
}
.marketplace-parent {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 8.13rem;
  height: 9.06rem;
}
.frame-parent10 {
  position: absolute;
  top: 0rem;
  left: 27.13rem;
  width: 51rem;
  height: 9.25rem;
}
.image-113-icon1 {
  position: absolute;
  height: 100%;
  width: 44.93%;
  top: 0%;
  right: 55.07%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.nft1 {
  position: absolute;
  top: 5%;
  left: 50.69%;
  letter-spacing: -0.05em;
  line-height: 150%;
}
.image-113-parent {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 7.73rem;
  height: 3.56rem;
}
.as-an-ai {
  position: absolute;
  width: 100%;
  top: 58.78%;
  left: 0%;
  font-size: 1.13rem;
  line-height: 150%;
  font-family: Inter;
  color: #c0c0c0;
  display: inline-block;
}
.frame-parent11 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 22.13rem;
  height: 8.19rem;
  font-size: 2.14rem;
}
.frame-parent9 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 78.13rem;
  height: 9.25rem;
}
.frame11 {
  position: absolute;
  top: 2.56rem;
  left: 8.75rem;
  width: 78.13rem;
  height: 20.88rem;
  overflow: hidden;
}
.frame10 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 94.5rem;
  height: 23.44rem;
  overflow: hidden;
}
.frame13 {
  position: absolute;
  top: 3.5rem;
  left: 20rem;
  width: 28.06rem;
  height: 5.63rem;
  overflow: hidden;
}
.frame-child32 {
  position: absolute;
  height: 61.05%;
  width: 99.72%;
  top: 38.95%;
  right: 0%;
  bottom: 0%;
  left: 0.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child33 {
  position: absolute;
  height: 63.65%;
  width: 1.18%;
  top: 0%;
  right: 97.98%;
  bottom: 36.35%;
  left: 0.84%;
  border-radius: 1px;
  background: linear-gradient(224.85deg, #ce13ff, #7000ff);
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.frame15 {
  position: absolute;
  top: 0.27rem;
  left: 0rem;
  width: 67.59rem;
  height: 1.26rem;
  overflow: hidden;
}
.frame-child34 {
  position: absolute;
  height: 57.07%;
  width: 2.37%;
  top: 19.29%;
  right: -0.69%;
  bottom: 23.64%;
  left: 98.32%;
  border-radius: 1px;
  background: linear-gradient(224.85deg, #ce13ff, #7000ff);
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.frame-child35 {
  position: absolute;
  height: 63.21%;
  width: 2.63%;
  top: 0%;
  right: 95.52%;
  bottom: 36.79%;
  left: 1.86%;
  border-radius: 1px;
  background: linear-gradient(224.85deg, #ce13ff, #7000ff);
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.frame16 {
  position: absolute;
  top: 0rem;
  left: 34.19rem;
  width: 33.76rem;
  height: 1.4rem;
  overflow: hidden;
}
.frame-parent12 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 67.94rem;
  height: 1.53rem;
  opacity: 0.5;
}
.frame14 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 67.94rem;
  height: 9.13rem;
  overflow: hidden;
}
.frame12 {
  position: absolute;
  top: 14.31rem;
  left: 14.31rem;
  width: 67.94rem;
  height: 9.13rem;
  overflow: hidden;
  font-size: 1rem;
  color: #c0c0c0;
}
.footer {
  position: absolute;
  margin: 0 !important;
  top: 325.94rem;
  left: 0rem;
  width: 94.5rem;
  height: 23.44rem;
  z-index: 27;
  text-align: left;
  font-size: 1.38rem;
  color: #fff;
  font-family: "Chakra Petch";
}
