.image-108-icon {
  position: absolute;
  height: 96.18%;
  width: 43.08%;
  top: 1.25%;
  right: 3.28%;
  bottom: 2.56%;
  left: 53.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector-icon2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 3.19%;
  right: -2.77%;
  bottom: -3.19%;
  left: 2.77%;
  border-radius: 17.47px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.read-more {
  position: absolute;
  width: 52.83%;
  top: 23.58%;
  left: 23.58%;
  line-height: 150%;
  display: inline-block;
}
.vector-parent {
  position: absolute;
  top: 23.59rem;
  left: 0rem;
  width: 13.84rem;
  height: 3.98rem;
}
.slowmist-is-a {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  line-height: 150%;
  display: inline-block;
  opacity: 0.7;
}
.experience-to-the {
  position: absolute;
  width: 100%;
  top: 45.73%;
  left: 0%;
  line-height: 150%;
  display: inline-block;
  opacity: 0.7;
}
.slowmist-is-a-well-known-cyber-parent {
  position: absolute;
  top: 8.65rem;
  left: 0rem;
  width: 40.23rem;
  height: 12.44rem;
}
.slowmist {
  background: linear-gradient(228.33deg, #ce13ff, #7000ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.security-audit-slowmist-container {
  position: absolute;
  width: 90.42%;
  top: 0%;
  left: 0%;
  font-size: 2.88rem;
  line-height: 150%;
  display: inline-block;
  font-family: "Chakra Petch";
}
.frame-parent4 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 40.23rem;
  height: 21.09rem;
  text-align: left;
  font-size: 1.13rem;
  font-family: Inter;
}
.frame-parent3 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 40.23rem;
  height: 27.57rem;
}
.frame-child12 {
  position: absolute;
  height: 53.57%;
  width: 2.08%;
  top: 17.71%;
  right: 96.42%;
  bottom: 28.73%;
  left: 1.5%;
  border-radius: 1px;
  background: linear-gradient(224.85deg, #ce13ff, #7000ff);
  transform: rotate(43.74deg);
  transform-origin: 0 0;
}
.frame-child13 {
  position: absolute;
  height: 59.34%;
  width: 2.36%;
  top: 0%;
  right: 47.63%;
  bottom: 40.66%;
  left: 50.01%;
  border-radius: 1px;
  background: linear-gradient(224.85deg, #ce13ff, #7000ff);
  transform: rotate(43.74deg);
  transform-origin: 0 0;
}
.frame-child14 {
  position: absolute;
  height: 50.24%;
  width: 100%;
  top: 49.76%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame5 {
  position: absolute;
  top: 0rem;
  left: 0.91rem;
  width: 38.47rem;
  height: 1.53rem;
  overflow: hidden;
}
.rectangle-parent {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 39.38rem;
  height: 1.53rem;
}
.frame-child15 {
  position: absolute;
  height: 53.57%;
  width: 2.03%;
  top: 16.35%;
  right: -0.56%;
  bottom: 30.07%;
  left: 98.53%;
  border-radius: 1px;
  background: linear-gradient(224.85deg, #ce13ff, #7000ff);
  transform: rotate(43.74deg);
  transform-origin: 0 0;
}
.frame-parent5 {
  position: absolute;
  top: 5.25rem;
  left: 0rem;
  width: 40.37rem;
  height: 1.53rem;
}
.frame-parent2 {
  position: absolute;
  top: 5.85rem;
  left: 0rem;
  width: 40.37rem;
  height: 27.57rem;
}
.frame4 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 40.37rem;
  height: 33.41rem;
  overflow: hidden;
}
.frame-child16 {
  position: absolute;
  height: 333.51%;
  width: 151.05%;
  top: -108.4%;
  right: -58.31%;
  bottom: -125.12%;
  left: 7.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-parent1 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 85.75rem;
  height: 39.96rem;
}
.infocardwithimageright {
  position: absolute;
  margin: 0 !important;
  top: 175.54rem;
  left: 5.06rem;
  width: 85.75rem;
  height: 39.96rem;
  z-index: 21;
  text-align: center;
  font-size: 1.38rem;
  color: #fff;
  font-family: "Chakra Petch";
}
