.infocardwithimage-child {
  position: absolute;
  height: 328.1%;
  width: 149.41%;
  top: -105.02%;
  right: 7.21%;
  bottom: -123.08%;
  left: -56.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 3.18%;
  right: -2.69%;
  bottom: -3.18%;
  left: 2.69%;
  border-radius: 17.47px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.nft-mint {
  position: absolute;
  height: 51.89%;
  width: 43.87%;
  top: 23.58%;
  left: 28.3%;
  line-height: 150%;
  display: inline-block;
}
.vector-parent1 {
  position: absolute;
  top: 23.6rem;
  left: 0rem;
  width: 13.34rem;
  height: 3.98rem;
}
.as-an-ai1 {
  position: absolute;
  height: 40.7%;
  width: 100%;
  top: 0%;
  left: 0%;
  line-height: 150%;
  display: inline-block;
  opacity: 0.7;
}
.this-process-is {
  position: absolute;
  height: 54.27%;
  width: 100%;
  top: 45.73%;
  left: 0%;
  line-height: 150%;
  display: inline-block;
  opacity: 0.7;
}
.as-an-ai-language-model-i-don-parent {
  position: absolute;
  top: 8.66rem;
  left: 0rem;
  width: 36.96rem;
  height: 12.44rem;
}
.nft2 {
  background: linear-gradient(203.37deg, #ce13ff, #7000ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mint-your-first-container {
  position: absolute;
  height: 100%;
  width: 99.94%;
  top: 0%;
  left: 0.06%;
  line-height: 150%;
  display: inline-block;
}
.frame18 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 30.02rem;
  height: 4.31rem;
  overflow: hidden;
}
.frame-child36 {
  position: absolute;
  height: 56.86%;
  width: 2.94%;
  top: 0%;
  right: 45.89%;
  bottom: 43.14%;
  left: 51.18%;
  border-radius: 1px;
  background: linear-gradient(224.85deg, #ce13ff, #7000ff);
  transform: rotate(46.18deg);
  transform-origin: 0 0;
}
.frame-child37 {
  position: absolute;
  height: 61.05%;
  width: 99.59%;
  top: 38.95%;
  right: 0%;
  bottom: 0%;
  left: 0.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child38 {
  position: absolute;
  height: 62.38%;
  width: 2.65%;
  top: 0%;
  right: 95.51%;
  bottom: 37.62%;
  left: 1.84%;
  border-radius: 1px;
  background: linear-gradient(224.85deg, #ce13ff, #7000ff);
  transform: rotate(46.18deg);
  transform-origin: 0 0;
}
.frame20 {
  position: absolute;
  top: 0.27rem;
  left: 0rem;
  width: 29.61rem;
  height: 1.26rem;
  overflow: hidden;
}
.rectangle-parent1 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 29.61rem;
  height: 1.53rem;
}
.frame19 {
  position: absolute;
  top: 5.25rem;
  left: 0rem;
  width: 29.61rem;
  height: 1.53rem;
  overflow: hidden;
}
.frame-parent16 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 29.61rem;
  height: 6.78rem;
  font-size: 2.88rem;
  font-family: "Chakra Petch";
}
.frame-parent15 {
  position: absolute;
  top: 0rem;
  left: 0.01rem;
  width: 36.96rem;
  height: 21.1rem;
  text-align: left;
  font-size: 1.13rem;
  font-family: Inter;
}
.frame-parent14 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 36.96rem;
  height: 27.57rem;
}
.frame-child39 {
  position: absolute;
  height: 12.49%;
  width: 100%;
  top: 87.51%;
  right: -69.24%;
  bottom: 0%;
  left: 69.24%;
  border-radius: 1px;
  background: linear-gradient(224.85deg, #ce13ff, #7000ff);
  transform: rotate(46.18deg);
  transform-origin: 0 0;
}
.frame21 {
  position: absolute;
  top: 0rem;
  left: 29.46rem;
  width: 0.79rem;
  height: 6.29rem;
  overflow: hidden;
}
.frame-parent13 {
  position: absolute;
  top: 5.38rem;
  left: 0rem;
  width: 36.96rem;
  height: 27.57rem;
}
.frame17 {
  position: absolute;
  top: 0rem;
  left: 51.35rem;
  width: 36.96rem;
  height: 32.95rem;
  overflow: hidden;
}
.infocardwithimage {
  position: absolute;
  margin: 0 !important;
  top: 125.5rem;
  left: 0.25rem;
  width: 88.31rem;
  height: 40.63rem;
  z-index: 28;
  text-align: center;
  font-size: 1.38rem;
  color: #fff;
  font-family: "Chakra Petch";
}
