.black-icon {
  position: absolute;
  height: 99.46%;
  width: 14.07%;
  top: 0.54%;
  right: 85.93%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.binance {
  position: absolute;
  top: 0%;
  left: 27.5%;
  letter-spacing: 0.04em;
  line-height: 150%;
}
.vector-icon1 {
  position: absolute;
  height: 99.91%;
  width: 22.73%;
  top: 0%;
  right: 77.27%;
  bottom: 0.09%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.binance-parent {
  position: absolute;
  top: 0rem;
  left: 16.25rem;
  width: 10.17rem;
  height: 2.31rem;
}
.black-icon1 {
  position: absolute;
  height: 48.78%;
  width: 12.5%;
  top: 24.19%;
  right: 41.87%;
  bottom: 27.03%;
  left: 45.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.black-icon2 {
  position: absolute;
  height: 72.97%;
  width: 10.65%;
  top: 13.51%;
  right: 22.57%;
  bottom: 13.51%;
  left: 66.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon {
  position: absolute;
  height: 63.74%;
  width: 13.89%;
  top: 18.92%;
  right: 0%;
  bottom: 17.34%;
  left: 86.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.black-parent {
  position: absolute;
  top: 2.81rem;
  left: 3.75rem;
  width: 71.49rem;
  height: 2.31rem;
}
.partners {
  position: absolute;
  margin: 0 !important;
  height: 2.29%;
  width: 83.73%;
  top: 16.12%;
  right: 8.13%;
  bottom: 81.59%;
  left: 8.13%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(4.5px);
  border: 2px solid rgba(255, 255, 255, 0.13);
  box-sizing: border-box;
  z-index: 15;
  text-align: left;
  font-size: 1.54rem;
  color: #fff;
  font-family: Inter;
}
