@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
  background-color:  #170130;;
  font-family: "Chakra Petch";
}

:root {
  margin: 0;
  line-height: normal;
  background-color:  #170130;;
  font-family: "Chakra Petch";
}
  